.cart {
	display: flex;
	align-items: center;
	position: relative;
	&__icon {
		cursor: pointer;
		position: relative;
	}
	&__total-price {
		margin-left: 15px;
		font-size: 18px;
		font-weight: bold;
	}
}
