@import "../../styles/variables.scss";

.goods-item {
	width: 310px;
	min-height: 250px;
	color: #fff;
	background-color: $second-bg;
	border-radius: 15px;
	text-decoration: none;
	margin-bottom: 30px;
	cursor: pointer;
	transition: all 0.5s;
	&:hover,
	&:focus {
		transform: translateY(-10px);
		transition: all 0.5s;
		box-shadow: 0px 0px 30px $main-color;
		outline: none;
	}
	&__details {
		min-height: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	&__title {
		font-weight: bold;
		display: block;
		text-align: center;
	}
	&__img {
		width: 200px;
		object-fit: contain;
		margin: 15px auto 0;
		display: block;
		border-radius: 5px;
	}
	&__description {
		display: block;
		margin: 10px auto 0;
		width: 90%;
		font-size: 16px;
		text-align: start;
		min-height: 90px;
	}
	&__details-bottom {
		display: flex;
		height: 30px;
		justify-content: space-around;
		align-items: center;
		margin-top: 15px;
	}
	&__price {
		background-color: $gray-bg;
		padding: 2.5px 5px;
		border-radius: 5px;
		box-shadow: 0px 0px 3px $main-bg;
	}
}
